.GeneralInfo{
    position: relative;
    margin: 20px auto 10px;
    //margin-left: 230px !important;
    
}
.content-wrapper{
    min-height: 0%!important;
}
.wrapper{
    background-color: #ecf0f5!important;
}
.info-box{
    margin-top: 10px;
}