.userInfo,.user-header,.colorHeader,.logo,.sidebar-toggle,.navbar-custom-menu,.navbar{
    background-color: rgb(197, 207, 219)!important;
    color : rgb(221, 0, 48)!important;
}
img.logoLine {
    content:url(../assets/linedata.png);
    max-width: 50%;
 }
 img.logoLineMini {
    content:url(../assets/LinedataRedmini.png);
    max-width: 50%;
 }